{% extends 'base.html'%}
{% from 'macros.html' import displayNewsSource%}

<!-- Styles block --> 
{% block styles %}
    {{ super () }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock%}
    <div><
        {% block content %}
        <div class="jumbotron mdb-color special-color-dark text-center text-white">
                <h2 class="h2">WELCOME TO NEWS TREND</h2>
            </div>

        <h2 class="mdb-color danger-color-dark h2 text-white mb-4 text-center pb-4 pt-4">News Sources</h2>

            {{ displayNewsSource(sources)}}
            
    </div>

        {% endblock%}
    